%nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
			%span.navbar-brand
				%i.fa.fa-calculator
				= link_to "Shoff Accounting Client App", current_user
			#navbar-collapse.collapse.navbar-collapse
				%ul.nav.navbar-nav
					.navbar-text
						= link_to "Sign In", new_user_session_path, :class => 'nav-link' if !user_signed_in?
					.navbar-text
						= link_to "Latest Financial Info", current_user, :class => 'nav-link' if user_signed_in?
					.navbar-text
						= link_to "FAQ", faq_path, :class => 'nav-link'
					.navbar-text
						= link_to "Sign Out", logout_path, :method => :delete, class: "nav-link" if user_signed_in?