!!!
%html
  %head
    %meta{:content =>        "text/html; charset=UTF-8", "http-equive" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Shoff Accounting Client App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .container
      -# Nav Row
      .row
        = render :partial => 'layouts/navbar'
      -# Yield Row
      = yield
